.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}

.lblLeftSpace{
    padding-left: 20px;
}

.balanceColorRed{
    color: red;
    font-weight: bold;
}

.balanceColorGreen{
    color:green;
    font-weight: bold;
}