<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
      

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="description">
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button mat-button onSaveClick (click)="onSaveClick()" cdkFocusInitial>SAVE</button>
</div>